<div class="container">

    <table class="table text-center">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>DNI</th>
                <th>EDAD</th>
                <th>MAIL</th>
                <th>PASSWORD</th>
                <th>IMAGEN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of afs.arrayAdministradores; let i = index">
                <td scope="row">{{item.data.nombre}}</td>
                <td>{{item.data.apellido}}</td>
                <td>{{item.data.dni}}</td>
                <td>{{item.data.edad}}</td>
                <td>{{item.data.mail}}</td>
                <td>{{item.data.password}}</td>
                <td> <img src={{item.data.imagen}} style="border-radius: 50%;" width="35px" height="35px" alt=""></td>
            </tr>
        </tbody>
    </table>
</div>