<div class="container mt-5 slit-in-horizontal	" style="max-width: 520px;">

    <div class="miContenedor p-3 mb-5" style="padding: 50px">

        <div class="row" align="center">
            <h1 appDtitulo style="font-family: 'Bebas Neue';">{{auth.currentUser | pnombrecompleto}}</h1>
        </div>
        

        <div class="row" align="center">
            <div class="container " align="center" >
                <img appMarco src={{auth.currentUser.imagen}} style="width: 50%; border-radius: 50%;" alt="">
                <img appMarco *ngIf="auth.currentUser.imagen2" src={{auth.currentUser.imagen2}} style="width: 50%; border-radius: 50%;" alt="">
            </div>
        </div>

        <div class="row" align="center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">DNI</span>
                <input appDresaltar [appAppresaltar]="'#05FD94'" type="text" class="form-control" readonly value={{auth.currentUser.dni}} aria-describedby="basic-addon2">
              </div>
        </div>

        <div class="row" align="center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">EDAD</span>
                <input appDresaltar [appAppresaltar]="'#05E3C4'" type="text" class="form-control" readonly value={{auth.currentUser.edad}} aria-describedby="basic-addon2">
              </div>
        </div>

        <div class="row" align="center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">CORREO</span>
                <input appDresaltar [appAppresaltar]="'#11DBFA'" type="text" class="form-control" readonly value={{auth.currentUser.mail}} aria-describedby="basic-addon2">
              </div>
        </div>
        
        <div class="row" align="center">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">CLAVE</span>
                <input appDresaltar [appAppresaltar]="'#058BE3'" type="text" class="form-control" readonly value={{auth.currentUser.password}} aria-describedby="basic-addon2">
              </div>
        </div>

        <div class="row" align="center">
            <div *ngIf="auth.currentUser.especialidad" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">ESPECIALIDAD</span>
                <input appDresaltar [appAppresaltar]="'#0559FD'" type="text" class="form-control" readonly value={{auth.currentUser.especialidad}} aria-describedby="basic-addon2">
            </div>
            <div *ngIf="auth.currentUser.obrasocial" class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">OBRA SOCIAL</span>
                <input appDresaltar [appAppresaltar]="'#0559FD'" type="text" class="form-control" readonly value={{auth.currentUser.obrasocial}} aria-describedby="basic-addon2">
            </div>
        </div>


        <div class="row">
            <div class="float-cont" align="center" >
                <div class="col" *ngFor='let item of especialistasEnteros; let i = index' >
                    <div class="float-button" (click)="descargarTurnos(item)">
                        <img src={{item.data.imagen}} alt="">
                    </div>
                <h5 style="padding: 0; margin: 0;">{{item.data | pnombrecompleto}} </h5>
                </div>
            </div>
        </div>

        <div *ngIf="auth.currentUser.especialidad" class="row" align="center">
            <div class="col-md-12 d-grid gap-2 mb-3">
                <button type="submit" class="bttn-pill bttn-md bttn-success" (click)="mostrarHorarios()">Mis horarios</button>
            </div>
        </div>

        <div class="row" *ngIf="misHorarios">

                <div class="col mb-2" *ngFor="let item of listaDiario; let i = index ">
                    <div class="row">
                        <label class="btn bttn-success">
                            <input type="checkbox" name="checkDias" id={{i}} [checked]="listaDias[i]" >
                            {{item}}
                        </label>
                    </div>
                </div>

                <div class="col-3 m-1" align="center" *ngFor="let item of listaHorarios; let i = index">
                    <div class="row" align="center">
                        <label class="btn btn-primary active">
                            <input type="checkbox" name="checkboxs" id={{i+8}} [checked]="listaHorarios[i]" >
                            {{i+8}} hs
                        </label>
                    </div>
                </div>

                <div class="row">
                    <button (click)="actualizar()">Aceptar cambios</button>
                </div>

        </div>

        <div class="row" *ngIf="auth.currentUser.perfil == 'paciente'">
            <button type="button" class="btn btn-primary" (click)="verHistoriaClinica()">Historia Clinica</button>
            <div *ngIf="muestraHistoria">
                <app-historiaclinica [usuario]="auth.currentUser" ></app-historiaclinica>
            </div>
            <!-- <div class="col-md-12 d-grid gap-2 mb-3">
                <button (click)="verHistoriaClinica()" class="bttn-pill bttn-md bttn-success" >Historia clinica</button>
            </div> -->
        </div>

    </div>  



</div>