<div class="container">
    <div class="row">
        <div class="col">HISTORIA CLINICA</div>
    </div>

    <div class="row">

      <div class="col-xs-1-12" *ngFor="let item of historiasPaciente, let i = index">
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-6">
                    <p>Fecha: </p>
                    <p>Altura: </p>
                    <p>Peso: </p>
                    <p>Temperatura: </p>
                    <p>Presion: </p>
                    <p>{{keys[i].dinamicoUno}}</p>
                    <p>{{keys[i].dinamicoDos}}</p>
                    <p>{{keys[i].dinamicoTres}}</p>
                    <p>Especialista: </p>
                    <p>Especialidad: </p>
                </div>
                
                <div class="col-6">
                    <p>{{item.fecha}}</p>
                    <p>{{item.altura}}</p>
                    <p>{{item.peso}}</p>
                    <p>{{item.temperatura}}</p>
                    <p>{{item.presion}}</p>
                    <p>{{item.dinamicoUno.valor}}</p>
                    <p>{{item.dinamicoDos.valor}}</p>
                    <p>{{item.dinamicoTres.valor}}</p>
                    <p>{{item.especialista}}</p>
                    <p>{{item.especialidad}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>

</div>
