<!-- <div class="container">

    <div class="row">

      <div class="col-xs-1-12" *ngFor="let item of historiasPaciente, let i = index">
        <div class="card">
          <div class="card-body">
              <div class="row">
                <div class="col-6">
                    <h6>Fecha: </h6>
                    <h6>Paciente</h6>
                    <p>Altura: </p>
                    <p>Peso: </p>
                    <p>Temperatura: </p>
                    <p>Presion: </p>
                    <p>{{keys[i].dinamicoUno}}</p>
                    <p>{{keys[i].dinamicoDos}}</p>
                    <p>{{keys[i].dinamicoTres}}</p>
                    <p>Especialista: </p>
                    <p>Especialidad: </p>
                </div>
                
                <div class="col-6">
                    <h6>{{item.fecha}}</h6>
                    <h6>{{usuario.data.nombre}} {{usuario.data.apellido}}</h6>
                    <p>{{item.altura}}</p>
                    <p>{{item.peso}}</p>
                    <p>{{item.temperatura}}</p>
                    <p>{{item.presion}}</p>
                    <p>{{item.dinamicoUno.valor}}</p>
                    <p>{{item.dinamicoDos.valor}}</p>
                    <p>{{item.dinamicoTres.valor}}</p>
                    <p>{{item.especialista}}</p>
                    <p>{{item.especialidad}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>

</div> -->
<div class="row">
  <div class="col-6" *ngFor="let item of historiasPaciente, let i = index">

    <div class="card bg-light mb-3" id={{i}} style="width: 20rem;">
      <div class="card-header">{{usuario.data.nombre}} {{usuario.data.apellido}}</div>
      <div class="card-body">
        <h5 class="card-title">{{item.fecha}}</h5>
        <div class="row">
          <div class="col-6">
            <div class="row" class="card-text">Altura: </div>
            <div class="row" class="card-text">Peso: </div>
            <div class="row" class="card-text">Temperatura: </div>
            <div class="row" class="card-text">Presion: </div>
            <div class="row" class="card-text">{{keys[i].dinamicoUno}}</div>
            <div class="row" class="card-text">{{keys[i].dinamicoDos}}</div>
            <div class="row" class="card-text">{{keys[i].dinamicoTres}}</div>
            <div class="row" class="card-text">Especialidad: </div>
            <div class="row" class="card-text">Especialista: </div>
          </div>
          <div class="col-6">
            <div class="row" class="card-text">{{item.altura}}</div>
            <div class="row" class="card-text">{{item.peso}}</div>
            <div class="row" class="card-text">{{item.temperatura}}</div>
            <div class="row" class="card-text">{{item.presion}}</div>
            <div class="row" class="card-text">{{item.dinamicoUno.valor}}</div>
            <div class="row" class="card-text">{{item.dinamicoDos.valor}}</div>
            <div class="row" class="card-text">{{item.dinamicoTres.valor}}</div>
            <div class="row" class="card-text">{{item.especialidad}}</div>
            <div class="row" class="card-text">{{item.especialista}}</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-danger" (click)="imprimirPDF(i)">Descargar PDF</button>
      </div>
    </div>

  </div>
</div>
