<div class="container" style="max-width: 720px;">

    <div class="row mb-4 mt-2" style="justify-content: center;" align="center">
        <div class="col">
            <button class="bttn-jelly bttn-md bttn-primary" (click)="cambiarValor('paciente')">Registrar paciente</button>
        </div>
        
        <div class="col">
            <button class="bttn-jelly bttn-md bttn-primary" (click)="cambiarValor('especialista')">Registrar especialista</button>        
        </div>
    </div>

    <div class="row mb-4">
        <app-registro [tipoUsuario]="tipoRegistro" ></app-registro>
    </div>
    
</div>
