<div class="container slide-in-top" style="max-width: 720px;">

    <div class="row mb-4 mt-2" style="justify-content: center;" align="center">
        <div class="col">
            <img appMarco src="../../../assets/paciente22.jpg" (click)="cambiarValor('paciente')" style="width: 100px; height: 100px; border-radius: 10%;" alt="paciente" title="paciente">
        </div>
        
        <div class="col">
            <img appMarco src="../../../assets/medicoclinica.jpg" (click)="cambiarValor('especialista')"  style="width: 100px; height: 100px; border-radius: 10%;" alt="especialista" title="especialista">
        </div>
    </div>

    <div class="row mb-4" *ngIf="tipoRegistro">
        <app-registro [tipoUsuario]="tipoRegistro" ></app-registro>
    </div>
    
</div>
