<div class="container">

    <div class="row">
        <div class="col m-3">
            <input type="text" class="form-control" placeholder="Filtre por algun parametro" [(ngModel)]="parametro" (keyup)="superFiltro()" >
        </div>
    </div>

    <div class="row" >
        <div class="col">
            <table class="table table-secondary table-striped table-hover" >
                <thead>
                    <th>Especialidad</th>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of turnosDelEspecialista">
                        <td>{{item.data.especialidad | pcapitalze }} </td>
                        <td>{{item.data.paciente | pcapitalze }} </td>
                        <td>{{item.data.fecha | pcapitalze }} </td>
                        <td>{{item.data.horario}}hs </td>
                        <td>{{item.data.estado | pcapitalze }} </td>
                        <td *ngIf="item.data.estado == 'pendiente'" > <button (click)="cancelarTurno(item)" type="button" class="btn btn-outline-danger">Cancelar</button> </td>
                        <td *ngIf="item.data.estado == 'pendiente'" ><button (click)="rechazarTurno(item)" type="button" class="btn btn-outline-warning">Rechazar</button></td>
                        <td *ngIf="item.data.estado == 'pendiente'" ><button (click)="aceptarTurno(item)" type="button" class="btn btn-outline-success">Aceptar</button></td>
                        <td *ngIf="item.data.estado == 'aceptado' " ><button (click)="finalizarTurno(item)" type="button" class="btn btn-outline-success">Finalizar</button></td>
                        <td *ngIf="item.data.comentarioPaciente || item.data.comentarioEspecialista" ><button (click)="verComentario(item)" type="button" class="btn btn-outline-info">Ver reseña</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
