<div class="container">

    <div class="row">
        <div class="col m-3">
            <input type="text" class="form-control" placeholder="Filtre por algun parametro" [(ngModel)]="parametro" (keyup)="superFiltro()" >
        </div>
    </div>

    <div class="row" >
        <div class="col">
            <table class="table table-secondary table-striped table-hover">
                <thead>
                    <th>Especialidad</th>
                    <th>Especialista</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of turnosDelPaciente">
                        <td>{{item.data.especialidad | pcapitalze }} </td>
                        <td>{{item.data.especialista | pcapitalze}} </td>
                        <td>{{item.data.fecha}} </td>
                        <td>{{item.data.horario}}hs </td>
                        <td> <strong> {{item.data.estado | pcapitalze }} </strong> </td>
                        <td *ngIf="item.data.estado == 'pendiente'" > <button (click)="cancelarTurno(item)" type="button" class="btn btn-outline-danger">Cancelar</button> </td>
                        <td *ngIf="item.data.comentarioEspecialista || item.data.comentarioPaciente" > <button (click)="verComentario(item)" type="button" class="btn btn-outline-info">Ver reseña</button> </td>

                        <td *ngIf="item.data.estado == 'realizado' && !item.data.encuesta" > <button (click)="completarEncuesta(item)" type="button" class="btn btn-outline-info">Completar encuesta</button>  </td>
                        <td *ngIf="item.data.estado == 'realizado' && !item.data.calificacion " > <button (click)="calificarLaAtencion(item)" type="button" class="btn btn-outline-info">Calificar la atencion</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
