<div class="container">

    <button type="button" (click)="filtrarPorTodo()" class="btn btn-primary">Abrir filtros</button>

    <select (click)="seleccionaF()" class="form-select" id="pepe" aria-label="Default select example">
        <option value={{item}} *ngFor="let item of objectKeys, let i = index" >{{item}}</option>
    </select>

    <select (click)="seleccionaTT()" id="mama" class="form-select" aria-label="Default select example">
        <option *ngFor="let elemento of todosFiltros[jancarlos], let indice = index" value={{indice}} >{{elemento}}</option>
    </select>

    <!-- <div class="row"> 
        <div class="col-3 m-3">
            <h5>Filtrar por especialista: </h5>
        </div>
        <div class="col-3 m-3" *ngFor="let item of especialistasFiltrados">
            <button type="button" (click)="filtrarPorEspecialista(item)" class="btn btn-primary">{{item}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3 m-3">
            <h5>Filtrar por especialidad: </h5>
        </div>
        <div class="col-3 m-3" *ngFor="let item of especialidadesFiltradas">
            <button type="button" (click)="filtrarPorEspecialidad(item)" class="btn btn-primary">{{item}}</button>
        </div>
    </div> -->

    <div class="row" >
        <div class="col">
            <table class="table table-secondary table-striped table-hover">
                <thead>
                    <th>Especialidad</th>
                    <th>Especialista</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of turnosDelPaciente">
                        <td>{{item.data.especialidad}} </td>
                        <td>{{item.data.especialista}} </td>
                        <td>{{item.data.fecha}} </td>
                        <td>{{item.data.horario}}hs </td>
                        <td> <strong> {{item.data.estado}} </strong> </td>
                        <td *ngIf="item.data.estado == 'pendiente'" > <button (click)="cancelarTurno(item)" type="button" class="btn btn-outline-danger">Cancelar</button> </td>
                        <td *ngIf="item.data.comentarioEspecialista || item.data.comentarioPaciente" > <button (click)="verComentario(item)" type="button" class="btn btn-outline-info">Ver reseña</button> </td>

                        <td *ngIf="item.data.estado == 'realizado' && !item.data.encuesta" > <button (click)="completarEncuesta(item)" type="button" class="btn btn-outline-info">Completar encuesta</button>  </td>
                        <td *ngIf="item.data.estado == 'realizado' && !item.data.calificacion " > <button (click)="calificarLaAtencion(item)" type="button" class="btn btn-outline-info">Calificar la atencion</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <button type="button" (click)="cargarTurnos()" class="btn btn-primary">Limpiar filtros</button>
    </div>
</div>

<!-- <button (click)="cargarTurnos()">CargarTurnos</button> -->
