<div class="container">

    <table class="table text-center">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>DNI</th>
                <th>EDAD</th>
                <th>MAIL</th>
                <th>PASSWORD</th>
                <th>ESPECIALIDAD</th>
                <th>IMAGEN</th>
                <th>HABILITADO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of afs.arrayEspecialistas; let i = index">
                <td scope="row">{{item.data.nombre  | pcapitalze }}</td>
                <td>{{item.data.apellido  | pcapitalze }}</td>
                <td>{{item.data.dni | ppuntosdni}}</td>
                <td>{{item.data.edad}}</td>
                <td>{{item.data.mail}}</td>
                <td>{{item.data.password}}</td>
                <td>{{item.data.especialidad  | pcapitalze }}</td>
                <td> <img src={{item.data.imagen}} style="border-radius: 50%;" width="35px" height="35px" alt=""></td>
                <td>
                    <div (click)="cambiarEstado(i)">
                        <div *ngIf="item.data.habilitado">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16"> <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" />
                            </svg>
                        </div>
                        <div *ngIf="!item.data.habilitado">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                                <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z" />
                            </svg>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>