<div class="container slide-in-top">
    <div class="row">
        <div class="float-cont" align="center">
            <div class="col" *ngFor='let item of pacientesEnteros; let i = index' (click)="mostrarHC(item)">
                <div class="float-button">
                    <img appMarco src={{item.data.imagen}} alt="">
                </div>
                <h5 style="padding: 0; margin: 0;">{{item.data | pnombrecompleto}}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table text-center table-hover">
                <thead>
                    <tr>
                        <th>Especialidad</th>
                        <th>Especialista</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of turnosDelPaciente">
                        <td>{{item.data.especialidad}} </td>
                        <td>{{item.data.especialista}} </td>
                        <td>{{item.data.fecha}} </td>
                        <td>{{item.data.horario}}hs </td>
                        <td> <strong> {{item.data.estado}} </strong> </td>
                        <td *ngIf="item.data.comentarioEspecialista || item.data.comentarioPaciente">
                            <button (click)="verComentario(item)" type="button" class="btn btn-outline-info">
                                Ver reseña
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>